/*
 forms
 */
 $secondary-color: #9abcff;
 
 .report {
   // background-color: lighten($secondary-color, 20%);
   padding: .5em;
   margin: .5em 0;

   form {
      display: grid;
   }

   em {
      font-size: smaller;
   }

   label.above {
      display: block;
      padding-top: 1rem;

   }

   input,
   button,
   select,
   textarea {
      padding: 0.5rem;
      margin-bottom: .25rem;
   }

   form label.above input,
   form label.above select {
      -webkit-appearance: none;
      display: block;
      border: solid 1px #999;
      border-radius: 4px;
      padding: .75rem;
      color: #555;
      width: 100%;
      max-width: 30rem;
      background-color: rgba(0, 0, 0, 0.1);

      &:invalid {
         background-color: #fdd;
         color: black;
      }

      &:valid {
         background-color: #dfd;
         color: black;
      }

      &:focus,
      &:hover {
         box-shadow: 0 0 10px $secondary-color;
         background-color: white;
      }

      align-self: auto;
   }

   input:focus,
   input:hover {
      box-shadow: 0 0 10px $secondary-color;

   }

   fieldset {
      background-color: lighten($secondary-color, 20%);
      border: 1px solid #ccc;
      margin: 2%;
   }

   textarea {
      width: 100%;
      max-width: 30rem;
      background-color: #dfd;

      &:focus,
      &:hover {
         box-shadow: 0 0 10px $secondary-color;
         background-color: white;
      }
   }

   output {
      padding-left: .5em;
   }

   form label.sbs {
      display: block;
      padding: .75rem .25rem;
      color: #555;

      @include breakpoint(large) {
         padding: .4rem .25rem;
      }
   }

   form input[type="range"i] {
      margin-top: .5em;
   }

   .flexly {
      display: flex;
      align-items: center;
   }

   #ratingvalue {
      margin: 0 15px;
   }

   .submitBtn {
      background-color: $primary-color;
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 0 0 2rem 2%;
      width: 96%;
      max-width: 20rem;
   }
}