/* Mobile First */
/* Globals*/
html {
  font-family: "Dosis", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #ffefd9;
}

.max-width {
  width: 95%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One", cursive;
  font-weight: normal;
  color: #371f99;
}

h2 {
  color: #cc9466;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  padding: .5em;
  background-color: #371f99;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #ffefd9;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.header p {
  text-align: center;
  font-style: italic;
  font-size: .75rem;
  font-family: "Fredoka One", cursive;
  font-weight: normal;
  color: white;
}

@media (min-width: 32.5em) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header h1 {
    margin: 0;
    font-size: 3rem;
  }
  .header p {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
  }
}

.button {
  color: white;
  font-size: 2em;
  display: block;
  text-decoration: none;
}

@media (min-width: 32.5em) {
  .button {
    display: none;
  }
}

.button:hover {
  color: #9abcff;
}

.logo {
  height: 50px;
  padding-right: .5em;
  color: white;
}

@media (min-width: 32.5em) {
  .logo {
    height: 72px;
  }
}

nav {
  width: 100%;
  max-width: 3000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #371f99;
}

.navigation {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: block;
}

.navigation li.active a {
  color: #9abcff;
}

.navigation a {
  display: block;
  padding: .5em;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 32.5em) {
  .navigation {
    padding-left: 2%;
  }
  .navigation.hide {
    display: block;
  }
  .navigation li {
    float: left;
  }
  .navigation li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 56rem) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    padding-left: 0;
  }
  .navigation.hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation li {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
  }
}

.hide {
  display: none;
}

.town {
  margin: .5em 0;
  padding: 0 .5rem;
}

.summary {
  background-color: #9abcff;
  padding: .5em;
  margin: .5em 0;
}

.summary div {
  background-color: white;
  padding: .5em;
}

.forecast {
  background-color: #9abcff;
  padding: .5em;
  margin: .5em 0;
}

.forecast div {
  background-color: white;
  padding: .5em;
}

@media (min-width: 32.5em) {
  .forecast {
    background-color: #7a66cc;
  }
}

@media (min-width: 56rem) {
  .forecast {
    background-color: #cc9466;
  }
}

.article {
  background-color: white;
  padding: .5em;
  margin: .5em 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  background-color: white;
  margin: 5px 0;
}

.map {
  background-color: #cc9466;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 200px;
          flex: 2 2 200px;
}

.contact fieldset {
  margin: 0 .5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contact p {
  margin: .25em 0 0;
}

footer {
  font-size: .8em;
  color: white;
  background: #371f99;
  padding: 10px 20px;
  margin: 5px;
}

footer p {
  text-align: center;
  padding-bottom: .5em;
}

.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  text-decoration: underline;
  color: #cc9466;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* viewport switch
$phone-max-switch 400px, 25em;
< tablet <
$desktop-min-switch 960px, 60em; 

$desktop-max-width: 60em;



*/
/*# sourceMappingURL=small.css.map */