@media only screen and (min-width: 32.5em) {
   body {
      margin: 20px;
   }

   header {
      border-radius: 15px 15px 0px 0px;
   }

   h1 {
      padding-left: 30px;
   }

   img {
      float: right;
      width: 250px; 
      margin: 30px 20px;
      border-radius: 15px 15px 15px 15px;
      border: 0px solid black;
   }

   main {
      padding-left: 30px;
   }

   footer {
      border-radius: 0px 0px 15px 15px;
      padding-left: 30px;
   }
}